/* General Body elements */
body {
    font-size: 16px;
    background-color: #FFE7CD;
    color: #3C2B15;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
}
/* TMain header */
h1 {
    color: #370E48;
    font-size: 32px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-decoration: underline;
    margin: 0.5em 0;
    padding: 0.5em;
    box-sizing: border-box;
}
/* Sub headers */
h2, h3, h4, h5, h6 {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    margin: 0.5em 0;
    padding: 0.5em;
    box-sizing: border-box;
}
/* Paragraphs */
p {
    color: #3C2B15;
    font-family: Arial, sans-serif;
    margin: 1em 0;
    padding: 1em;
    box-sizing: border-box;
}
/* Links */
a {
    color: #0043BF;
    text-decoration: underline;
    font-family: Arial, sans-serif;
    padding: 5px;
    border: 1px solid transparent;
    box-sizing: border-box;
}
/* Links when visited */
a:visited {
    color: #6600BF;
    border-color: #6600BF;
}
/* All elements' dark mode variants: lines 55 - 83 */
body.dark-mode {
    background-color: #692B07;
    color: #EDEDED;
}

body.dark-mode h1 {
    color: #D5C400;
}

body.dark-mode h2, 
body.dark-mode h3, 
body.dark-mode h4, 
body.dark-mode h5, 
body.dark-mode h6 {
    color: #D5C400;
}

body.dark-mode p {
    color: #FFFFFF;
}

body.dark-mode a {
    color: #2EFF3F;
}

body.dark-mode a:visited {
    color: #E2C5FC;
    border-color: #9C72FF;
}
/* Buttons */
button {
    background-color: #F97007;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #F97007;
    box-sizing: border-box;
}
/* When hovering button */
button:hover {
    background-color: #E66106;
    border-color: #E66106;
}
/* Navigation menu general elements */
.topnav {
    background-color: #433527;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
/* Links in navigation menu */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

#myLinks {
    display: none;
}

.topnav.responsive #myLinks {
    display: block;
}
/* Navigation menu icon */
.topnav .icon {
    float: right;
    display: block;
    color: white;
    padding: 14px 16px;
    font-size: 20px;
    cursor: pointer;
}
/* Ensures navigation always fits screen */
@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
    }
    #myLinks a {
        text-align: left;
    }
}
/* Dividers */
div{
    text-align: center;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}
/* Lists */
ul {
    list-style-position: inside;
    text-align: center;
    padding: 0;
}

li {
    display: inline-block;
    text-align: left;
    margin: 0.5em 0;
}